# OpenRouter API Configuration
OPENROUTER_API_KEY=<api-key-here>


# Model Configuration
MODEL_NAME=meta-llama/llama-3.3-70b-instruct
MODEL_TEMPERATURE=0.3
MODEL_MAX_TOKENS=4000

DB_HOST=localhost
DB_NAME=loan_default
DB_USER=postgres
DB_PASS=123456
DB_PORT=5432